*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background-color: hsl(27, 66%, 92%);
}

#card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.7fr;
    grid-row-gap: 20px;
    grid-template-areas:
    "hdcard"
    "mncard"
    ;
}

#headerCard{
    grid-area: hdcard;
    display: flex;
    border-radius: 20px;
    align-items: center;
    width: auto;
    color: hsl(33, 100%, 98%);
    background-color: hsl(10, 79%, 65%);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

#accountName{
    color: hsl(33, 100%, 98%);
    font-size: 15px;
}

.headerCardText{
    display: flex;
    flex-direction: column;
}

#mainCard{
    grid-area: mncard;
    border-radius: 20px;
    width: 500px;
    background-color: hsl(33, 100%, 98%);
    padding: 0px 25px;
}

#divChart{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    text-align: center;
    
}

.days{
    display: flex;
    justify-content: space-between;
    color: hsl(28, 10%, 53%);
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.normalWhiteWeight{
    font-size: 18px;
    font-weight: 400;
    color: hsl(28, 10%, 53%);
}

.brownFont{
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 25px;
}

#totalSpentPercent{
    font-size: 18px;
}

#cardFooter{
    border-top: 2px solid hsl(27, 66%, 92%);
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 8%;
    margin-top: 4%;
}

.cardFooterLeft{
    display: flex;
    flex-direction: column;

}

.cardFooterRight{
    display: flex;
    flex-direction: column;
}

.tooltips{
    position: absolute;
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: black;
    color: #fff;
    padding: 5px 0px;
    border-radius: 5px;
    top: -60px;
    content: "";
    display: none;
    left: 50%;
    transform: translateX(-50%);
}

.tooltips::after, .tooltips::before{
    content: "";
    position: absolute;
}

#rect1, #rect2, #rect3, #rect4, #rect5, #rect6, #rect7{
    width: 50px;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.myRectangles:hover{
    filter: brightness(150%);
}

@media screen and (max-width:580px){
    
    #card{
        width: 80%;
        height: auto;
        padding-right: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        grid-gap: 3%;
    }

    #mainCard{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 60vh;
        padding: 5% 5%;
    }
    
    #cardFooter{
        padding-top: 10%;
    }

    #rect1, #rect2, #rect3, #rect4, #rect5, #rect6, #rect7{
        width: 35px;
    }

    .normalWhiteWeight{
        font-size: 14px;
    }
}