body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background-color: hsl(27, 66%, 92%);
}

#card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.7fr;
    grid-row-gap: 20px;
    grid-template-areas:
    "hdcard"
    "mncard"
    ;
}

#headerCard{
    grid-area: hdcard;
    display: flex;
    border-radius: 20px;
    align-items: center;
    width: auto;
    color: hsl(33, 100%, 98%);
    background-color: hsl(10, 79%, 65%);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

#accountName{
    color: hsl(33, 100%, 98%);
    font-size: 15px;
}

.headerCardText{
    display: flex;
    flex-direction: column;
}

#moneyLeft{
    
}

#mainCard{
    grid-area: mncard;
    border-radius: 20px;
    width: 500px;
    background-color: hsl(33, 100%, 98%);
    padding: 0px 25px;
}

#divChart{
    font-family: 'DM Sans', sans-serif;
    color : red;
    font-size: 20px;
    /* border : 1px solid red; */
/* lines belows are necessary to create my rectangles/bars chart using CSS */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    
}

.days{
    display: flex;
    justify-content: space-between;
    color: hsl(28, 10%, 53%);
    
}

.normalWhiteWeight{
    font-size: 18px;
    font-weight: 400;
    color: hsl(28, 10%, 53%);
}

.brownFont{
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    font-size: 25px;
}

#totalSpentPercent{
    font-size: 18px;
}

#cardFooter{
    border-top: 2px solid hsl(27, 66%, 92%);
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-bottom: 8%;
    margin-top: 4%;
}

.cardFooterLeft{
    display: flex;
    flex-direction: column;

}

.cardFooterRight{
    display: flex;
    flex-direction: column;
}

/*rectangles using CSS*/

.tooltips{
    position: absolute;
    width: 50px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    top: -60px;
    content: "";
}

#ttrect1, #ttrect2, #ttrect3, #ttrect4, #ttrect5, #ttrect6, #ttrect7{
    display: none;
}

.tooltips::after, .tooltips::before{
    content: "";
    position: absolute;
}

#rect1{
    /* height: 57.45px; */
    width: 40px;
    border-radius: 5px;
    position: relative;
}

#rect2{
    /* height: 74.91px; */
    width: 40px;
    border-radius: 5px;
    position: relative;
}

#rect3{
    /* height: 92.36px; */
    width: 40px;
    border-radius: 5px;
    position: relative;

}

#rect4{
    /* height: 71.07px; */
    width: 40px;
    border-radius: 5px;
    position: relative;

}

#rect5{
    /* height: 63.39px; */
    width: 40px;
    border-radius: 5px;
    position: relative;

}

#rect6{
    /* height: 83.28px; */
    width: 40px;
    border-radius: 5px;
    position: relative;

}

#rect7{
    /* height: 65.48px; */
    width: 40px;
    border-radius: 5px;
    position: relative;
}