body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.hero{
    height:80vh;
}

.top{
    flex-direction: row;
    margin: 0rem 10rem 0rem 10rem;
    display: flex;
    align-items: flex-start;
    height: 60%;
}

.topLeft{
    justify-content: left;
    width: 35%;
    height: 100%;
    margin-right: 10%;
}

.topLeft__heading{
    align-items: left;
    color:hsl(300, 43%, 22%);
    font-size: 3rem;
    font-weight: 700;
}

.topLeft__text{
    color: hsl(303, 10%, 53%);
    line-height: 1.5em;
    font-weight: 400;
}

.topRight{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    margin-top: 1em;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.topRight__rate1, .topRight__rate2, .topRight__rate3{
    border-radius: 0.5em;
    background-color: hsla(300, 37%, 91%, 0.782);
    height: 2em;
    vertical-align: baseline;
    padding-top: 0.5em;
    padding-left: 2em;
    width: 25em
    
}

.stars{
  padding-right: 2em;
}

.topRight__rate1{
    align-self: flex-start;
}

.topRight__rate2{
    align-self: center;
}

.topRight__rate3{
    align-self: flex-end;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "left center right"
    ;
    grid-gap: 2em;
    flex-direction: row;
    font-weight: normal;
    margin: 0rem 10rem 0rem 10rem;
    align-items: flex-end;
    height: 40%;
}

.cardheader{
    display: flex;
    align-items: center;
}

.templateimg{
    box-sizing: border-box;
    border-radius: 50%;
    height: 3em;
}

.coltonimg, .ireneimg, .anneimg{
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.name-verifbuy{
    line-height: 0em;
    padding-left: 1.5em;
}

.name{
    color: hsl(0, 0%, 100%);
}

.bottomLeft, .bottomCenter, .bottomRight{
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 2em;
    border-radius: 10px;
    height: 12em;
}

.bottomLeft{
    grid-area: left;
    background-color: hsl(300, 43%, 22%);
    align-self: start;
}

.bottomCenter{
    grid-area: center;
    background-color: hsl(300, 43%, 22%);
    align-self: center;
}

.bottomRight{
    grid-area: right;
    background-color: hsl(300, 43%, 22%);
    align-self: end;
}

.quotes{
    color: hsl(300, 24%, 96%);
    line-height: 1.5em;
    font-size: 13px;
    font-weight: 400;
}

.verifbuy{
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    
    .hero{
        height: unset;
    }
    
    .top{
        flex-direction: column;
        align-items: center;
        margin: 0px 15px 0px 15px;
    }
    
    .topLeft{
        justify-content: center;
        width: fit-content;
        margin-right: unset;
    }
    
    .topLeft__heading{
        text-align: center;
        margin: 80px 50px 25px 50px;
        margin-top: 80px;
        font-size: 2rem;
    }
    
    .topLeft__text{
        text-align: center;
        margin: 0px 38px 0px 38px;
        margin-bottom: 2rem;
    }
    
    .topRight{
        justify-content: center;
        width: 80%;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    
    .topRight__rate1, .topRight__rate2, .topRight__rate3{
        padding-left: unset;
        height: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        line-height: 1.5rem;
        width: 100%;
        align-self: unset;
    }
    
    .stars{
      padding-right: unset;
    }

    .bottom{
        margin: unset;
        margin-bottom: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "left"
        "center"
        "right"
        ;
        grid-gap: 1em;
        align-items: unset;
    }
    
    .bottomLeft, .bottomCenter, .bottomRight{
        padding-top: 2em;
        height: 10em;
        text-align: justify;
        justify-self: center;
        padding-bottom: 10%;
        width: 70%;
        align-self: unset;
    }
    
}